<div>
<header>
   <mat-toolbar style="background-color: rgba(138, 42, 202, 0.747); color: white;">
    <span>My Angular</span>
    <mat-icon>favorite</mat-icon>
    <span class="example-spacer"></span>
    <button (click)="navigateToHome()"  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>house</mat-icon>
    </button>
    <button (click)="navigateToPets()"  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>pets</mat-icon>
    </button>
  </mat-toolbar>
</header>
  
  <router-outlet></router-outlet>

  <footer>
    <button class="githubbutton" mat-button>Github</button>
     <button class="shibeapibutton" mat-button>Other Hub</button>
  </footer>
</div>