<main>
    <!-- <mat-slide-toggle (change)="onToggleChange($event)">Toggle me!</mat-slide-toggle> -->
    <mat-card class="shibacard" appearance="outlined">
    <mat-card-header>
      <p>Some Shiba</p>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>Thats why i love shiba inus</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="callSnackbar($event)" mat-button>LIKE</button>
      <button (click)="callSnackbar($event)" mat-button>DISLIKE (NONO)</button>
    </mat-card-actions>
    </mat-card>
   </main>
